<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.liferay.nativity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LiferayNativityInjector</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>NVTY</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>OSAScriptingDefinition</key>
	<string>LiferayNativityInjector.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>NVTYload</key>
			<dict>
				<key>Handler</key>
				<string>HandleLoadEvent</string>
				<key>ThreadSafe</key>
				<false/>
				<key>Context</key>
				<string>Process</string>
			</dict>
			<key>NVTYunld</key>
			<dict>
				<key>Handler</key>
				<string>HandleUnloadEvent</string>
				<key>ThreadSafe</key>
				<false/>
				<key>Context</key>
				<string>Process</string>
			</dict>
			<key>NVTYlded</key>
			<dict>
				<key>Handler</key>
				<string>HandleLoadedEvent</string>
				<key>ThreadSafe</key>
				<false/>
				<key>Context</key>
				<string>Process</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
