.gitmodules
*build*/
*flymake*
CMakeLists.txt.user*
*.patch
*~
*.autosave
doc/_build/*
*.kate-swp
*.kdev4
win/
admin/win/nsi/l10n/pofiles/*.po
*.swp
*~$
build*
cscope.*
tags
t1.cfg
shell_integration/MacOSX/LiferayNativity.xcworkspace/xcuserdata/
**/.DS_Store
