[submodule "src/3rdparty/libcrashreporter-qt"]
	path = src/3rdparty/libcrashreporter-qt
	url = git://github.com/dschmidt/libcrashreporter-qt.git
[submodule "src/3rdparty/zsync"]
	path = src/3rdparty/zsync
	url = https://github.com/owncloud/zsync
