[submodule "src/3rdparty/qtmacgoodies"]
	path = src/3rdparty/qtmacgoodies
	url = https://github.com/guruz/qtmacgoodies.git
[submodule "binary"]
	path = binary
	url = git://github.com/owncloud/owncloud-client-binary.git
[submodule "src/3rdparty/libcrashreporter-qt"]
	path = src/3rdparty/libcrashreporter-qt
	url = git://github.com/dschmidt/libcrashreporter-qt.git
[submodule "src/3rdparty/qtkeychain"]
	path = src/3rdparty/qtkeychain
	url = https://github.com/frankosterfeld/qtkeychain.git
