<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleSymbolName</key>
			<string>cloud</string>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(OC_APPLICATION_NAME) File Provider Extension</string>
	<key>CFBundleIdentifier</key>
	<string>$(OC_APPLICATION_REV_DOMAIN).$(PRODUCT_NAME)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayKeepDownloaded == true ).@count &gt; 0</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>com.nextcloud.desktopclient.FileProviderExt.KeepDownloadedAction</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Always keep downloaded</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayAllowAutoEvicting == true ).@count &gt; 0</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>com.nextcloud.desktopclient.FileProviderExt.AutoEvictAction</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Allow automatic freeing up space</string>
			</dict>
            <dict>
                <key>NSExtensionFileProviderActionActivationRule</key>
                <string>SUBQUERY ( fileproviderItems, $fileproviderItem, $fileproviderItem.userInfo.displayFileActions == true ).@count &gt; 0</string>
                <key>NSExtensionFileProviderActionIdentifier</key>
                <string>com.nextcloud.desktopclient.FileProviderExt.FileActionsAction</string>
                <key>NSExtensionFileProviderActionName</key>
                <string>File actions</string>
            </dict>
		</array>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>$(DEVELOPMENT_TEAM).$(OC_APPLICATION_REV_DOMAIN)</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
	</dict>
</dict>
</plist>
