[Desktop Entry]
Categories=Utility;X-SuSE-SyncUtility;
Type=Application
Exec=@APPLICATION_EXECUTABLE@ %u
Name=@APPLICATION_NAME@ Desktop
Comment=@APPLICATION_NAME@ desktop synchronization client
GenericName=Folder Sync
Icon=@APPLICATION_ICON_NAME@
Keywords=@APPLICATION_NAME@;syncing;file;sharing;
X-GNOME-Autostart-Delay=3
MimeType=application/vnd.@APPLICATION_EXECUTABLE@;x-scheme-handler/@APPLICATION_URI_HANDLER_SCHEME@;
SingleMainWindow=true
Actions=Quit;

# Translations
@LIBCLOUDPROVIDERS_DESKTOP_IMPLEMENTS@

[Desktop Action Quit]
Exec=@APPLICATION_EXECUTABLE@ --quit
Name=Quit @APPLICATION_NAME@
Icon=@APPLICATION_EXECUTABLE@


# Translations
Name[ga]=@APPLICATION_NAME@ Deasc
Comment[ga]=@APPLICATION_NAME@ cliant sioncrónaithe deisce
GenericName[ga]=Sioncronú Fillteán
Icon[ga]=@AINM_DEILBHÍN_AN_FHEIDHMCHLÁIR@
