
QToolBar { background: %1; margin: 0; padding: 0; border: none; border-bottom: 1px solid %2; spacing: 0; }
QToolBar QToolButton { background: %1; border: none; border-bottom: 1px solid %2; margin: 0; padding: 5px; }
QToolBar QToolBarExtension { padding:0; }
QToolBar QToolButton:checked { background: %3; color: %4; }


