//  SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
//  SPDX-License-Identifier: GPL-2.0-or-later

//
// Codesigning is performed later on by Mac Crafter.
//
CODE_SIGNING_ALLOWED=NO
CODE_SIGNING_REQUIRED=NO
CODE_SIGN_STYLE=Manual

//
// The build number (CFBundleVersion) in the Info.plist.
//
CURRENT_PROJECT_VERSION=$(CURRENT_PROJECT_VERSION:default=1)

//
// The development team identifier registered with Apple.
//
DEVELOPMENT_TEAM=$(DEVELOPMENT_TEAM:default=NKUJUXUJ3B)

//
// The app name.
//
OC_APPLICATION_NAME=$(OC_APPLICATION_NAME:default=Nextcloud)

//
// Reverse base identifier.
//
OC_APPLICATION_REV_DOMAIN=$(OC_APPLICATION_REV_DOMAIN:default=com.nextcloud.desktopclient)

//
// Hardened runtime as required for notarization.
//
ENABLE_HARDENED_RUNTIME=YES

//
// The required macOS version for all targets of the project.
//
MACOSX_DEPLOYMENT_TARGET=13.0

//
// The short version string (CFBundleShortVersionString) in the Info.plist.
//
MARKETING_VERSION=$(MARKETING_VERSION:default=1.0.0)
