[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Owncloud Sync Qt
Exec=/usr/bin/owncloud_sync_qt
Icon=owncloud_sync
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
