# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: GPL-2.0-or-later

# macOS system files
.DS_Store

# SwiftPM and Xcode working directories
/.build
/.swiftpm

# mac-crafter default working directories
/build
/product

# Created during mac-crafter execution
/wget-log*