# SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: GPL-2.0-or-later
name: QML Label component check
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: QML Label component check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run label component count
        run: |
          MATCHESRESULT=$(find . -iname "*.qml" | xargs grep -r -e "^\s*Label\s*[{]" | wc -l | sed "s/ //g")
          echo "MATCHES=${MATCHESRESULT}" >> $GITHUB_ENV
          echo "EXPECTED_MATCHES=1" >> $GITHUB_ENV
      - name: Check label component use count
        if: env.MATCHES != env.EXPECTED_MATCHES
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
              core.setFailed('Using QML Labels! Make sure to use EnforcedPlainTextLabel instead!')
