# SPDX-FileCopyrightText: Nextcloud GmbH
# SPDX-FileCopyrightText: 2025 Iva Horn
# SPDX-License-Identifier: LGPL-3.0-or-later

name: Xcode

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Run Tests
      run: xcodebuild clean build test -scheme NextcloudFileProviderKit -destination "platform=macOS,name=My Mac" -enableCodeCoverage YES -derivedDataPath NKFPK/.derivedData

    - name: Gather code coverage
      run: |
        cd NKFPK/.derivedData/Build/ProfileData
        cd $(ls -d */|head -n 1)
        directory=${PWD##*/}
        pathCoverage=NKFPK/.derivedData/Build/ProfileData/${directory}/Coverage.profdata
        cd ../../../../../
        xcrun llvm-cov export -format="lcov" -instr-profile $pathCoverage NKFPK/.derivedData/Build/Products/Debug/NextcloudFileProviderKitTests.xctest/Contents/MacOS/NextcloudFileProviderKitTests > coverage_report.lcov
